.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav a {
    color: #fff;
    transition: 0.5s color ease;
    text-decoration: underline;
}

.nav a:hover, .nav a:focus {
    text-decoration: none;
    color: blue;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-toggle .icon {
    font-size: 44px;
    pointer-events: none;
    color: #440028;
}

.nav-toggle:focus {
    outline: 2px solid #000;
}

/* Responsive */
@media (max-width: 768px) {

    .nav a { 
        text-decoration: none;
    }

    .nav ul {
        display: none;
        flex-direction: column;
        background: #fff;
        position: absolute;
        top: 100px;
        right: 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
        padding: 20px;
    }

    .nav ul.open {
        display: flex;
        gap: 20px;
        background: #8C487A;
        color: white;
    }

    .nav-toggle {
        display: block;
    }
}