 /* load fonts  */
 @import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Karla&display=swap');

 :root {
    --light-green: #E8EFC7;
    --mid-green: #AEC8A4;
    --light-brown: #8A784F;
    --dark-moss: #3B3B1B;
    --font-sans: "Karla", Trebuchet, San Francisco, Helvetica sans-serif;
 }



 /* global styles */
body, html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  font-optical-sizing: auto;
  font-weight: 400;
  background: var(--light-green);
    position: relative;
  
}

#scroll-up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: white;
  font-size: 40px;
  text-decoration: none;
  border-radius: 100%;
}

img, iframe {
    max-width: 80vw;
}

/* typography */
h1, h2, h3 {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}

p {
 font-size: 1rem;
 line-height: 1.93rem;
 color: var(--dark-moss);
 width: 100%;
 max-width: 577px;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

/* home page*/

.sr-only {
  position: absolute;
  left: 100000vw;
}

.home #scroll-up {
  display: none;
}